<h2><%= t('.title') %></h2>

<div class="section">
  <!-- form search/Find -->
  <div id="search_form_div" class="blueBright padding borderBlue marginBottom none" >
    <% form_tag request.path, :method=> 'get' do %>
      <fieldset class="fLeft">
        <div>
            <label for="search"> <%= t '.lbl_search'  %> </label>
            <%= text_field_tag :name, params[:name], :size => 15 %>
            <%= submit_tag t('.btn_search') %>
        </div>
      </fieldset>
    <% end %>
    <div class="clearBoth"></div>
  </div>
  <!-- end form -->
  <br/>
  <% if @shops.empty? %>
     <div class="unavailable padding half center centerTxt round">
       <div class="icon"></div>
       <p class="title"><%= t '.msg_no_elem' %></p>
     </div>
  <% else %>
    <table id="people-table" width="100%" cellpadding="0" cellspacing="0" class="tableList">
      <thead>
        <tr>
          <th><%= t'.tbl_name' %></th>
          <th><%= t'.tbl_telephone' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @shops.each do |shop| %>
          <tr id="<%= shop.id %>" class="cel row">
            <td><%= link_to shop.name, admin_shop_path(shop) %></td>
            <td><%= shop.telephone %></td>
            <td>
              <ul class="edition fRight hList">
                <li> <%= link_to t('.lnk_edit'), edit_admin_shop_path(shop), :class => "edit" %></li>
                <li><%= link_to t('.lnk_delete'), [:admin, shop], :confirm => t('.lnk_confirm'), :method => :delete, :class => "delete" %></li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="11">
            <%= will_paginate @shops %>              
          </th>
        </tr>
      </tfoot>
    </table>
  <% end %>
</div>

