<%= form_for([:admin, @user_shop]) do |f| %>
  <% if @user_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_shop.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user_shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('.lbl_name') %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email , t('.lbl_email')%><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password , t('.lbl_password')%><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t('.lbl_password_confirmation') %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit t('.btn_save') %>
  </div>
<% end %>
